@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.custom-content {
    display: flex;
    flex-direction: column;
}

.left-side {
    width: 823px;
    padding: 9%;
    background-color: #ffffff;/* Cor de fundo para a esquerda */
}

.left-side h3 {
    margin-bottom: 4%;
    font-weight: 300;
    font-size: 40px;
}

.left-side label {
    margin-bottom: 1%;
    font-size: 20px;
}

.left-side input {
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 20px;
  }
  
  input[type=text]:focus {
    border: 1px solid #555;
  }

.left-side button {
    border: none;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
    font-size: 19px;
    font-weight: 600;
}

.custom-content button {
    background-color: rgb(92, 92, 255);
    color: white;
}

.right-side {
    background-image: url('/img/bmw_background.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh; /* Ajusta a altura para ocupar toda a altura da tela */
}

.legal-info {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

    .right-side {
        height: 100vh; /* Ajusta a altura para metade da altura da tela em telas menores */
    }

    .bmw-logo {
        width: 100%;
        justify-content: end;
        display: flex;
        padding: 20px;
    }

    body {
        display: flex;
    }

    @media (max-width: 768px) {
        body {
            display: flex;
            flex-direction: column-reverse;
        }

        .right-side {

            height: 20vh;
            background-position: center;
            background-size: cover;
        }

        .left-side {
            width: 100%;
            height: auto;
            padding: 10%;
        }

        .bmw-logo {
            width: 100%;
            justify-content: end;
            display: flex;
            padding: 20px;
        }

        
}
